@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-slate-50 text-base;
}
